@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500);

html,body { height: 100%; margin: 0px; padding: 0px; };

body {
  padding: 0;
  font-family: "Roboto";
  background-color: white;

  div#sidebar {
    background-color: $darkgrey;
    color: white;
    height: 100vh;
    padding-top: 20px;

    #nav-list {
      list-style: outside none none;
      padding: 0;
      margin-left: -15px;
      margin-right: -30px;
      margin-top: 20px;

      li {
        transition: all .15s linear;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        -o-transition: all .15s linear;

        &:hover {
          background-color: lighten($darkgrey, 5%);
        }

        a {
          color: lighten($grey-text, 10%);
          font-weight: 300;
          font-size: 16px;
          padding: 10px 0 10px 20px;
          display: block;
          transition: all .15s linear;
          -webkit-transition: all .15s linear;
          -moz-transition: all .15s linear;
          -o-transition: all .15s linear;

          &:hover {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  div#portal-main {
    padding: 0;
    height: 100vh;
  }

  header {
    background-color: transparent;
  }

  footer {
    background-color: transparent;
  }

    .heading {
      background-color: $darkgrey;
      color: white;
      padding: 15px 0;
      margin: 0;

      h2 {
        font-size: 26px;
        font-weight: 100;
        margin: 0;

      }
    }
}

// Universal Station Css Classes

.material-icons {
  vertical-align: middle;
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-28 { font-size: 28px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}

.vert-align-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
