section.users {
  .container-fluid:first-child {
    padding-top: 25px;
  }

  .pre-row {
    &:nth-child(even) {
      .section-row {
        border-top: none;
        border-bottom: none;
      }
    }

    &:first-child {
      .section-row {
        border-top: 1px solid #c3c3c3 !important;
      }
    }

    &:last-child {
      .section-row {
        border-bottom: 1px solid #c3c3c3 !important;
      }
    }

    &:hover {
      .section-row {
        background-color: #f6f6f6;
      }
    }

    .section-row {
      background-color: #fff;
      color: lighten($darkgrey-text, 25%);
      padding: 25px 0;
      border: 1px solid #c3c3c3;
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      -o-transition: all .15s linear;

      .icon-trans {
        .zmdi {
          font-size: 16px;
          margin: 0 10px;
          -webkit-transition: all .15s linear;
          -moz-transition: all .15s linear;
          -o-transition: all .15s linear;

          &:hover {
            color: $orange;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.modal.user-modals {
  .modal-dialog {
    width: 75%;

    .modal-header {
      background-color: #f6f6f6;

      .row {
        padding: 5px;

        span {
          font-size: 12px;
        }
        
        &.column-titles {
          span {
            color: darken(#f6f6f6, 35%);
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }

    .modal-body {
      .row {
        padding: 5px;
        &.column-titles {
          span {
            color: darken(#f6f6f6, 35%);
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      hr {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
